* {
    box-sizing: border-box;
}
body {
    background: #ccc;
    font-size: 1em;
    min-width: 800px;
}
h1 {
    font-size: 1.5rem;
    font-weight: normal;
}
p + p {
    margin-top: 0;
}
input[type="checkbox"] {
    vertical-align: bottom;
}
input[type="checkbox"],
label {
    cursor: pointer;
}
.hidden {
    display: none;
}
